<main class="container">
  <div class="sub-container">
    <div class="row align-items-start justify-content-around">
      <div class="col-sm-12 col-md-4 col-lg-4 text-center">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ObiwanKnnabis</h5>
            <h6 class="card-subtitle mb-2 text-muted">persona que escribe cosas</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Informaci&oacute;n</a>
            <a href="#" class="card-link">Textos</a>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-sm-12 col-md-8 col-lg-6 text-center text-media">
        <h2>¿En que soy bueno?</h2>
        Desde que era pequeño considero que no tenía ninguna virtud, tal vez
        una! Pero no creo que un poco de lastima de la gente sea una y mucho
        menos buena. (Y yo sé porque lo digo, algún defecto tal vez) Crecí
        haciéndole caso a los demás, tratando de caerle bien a todo el mundo,
        imitando y riéndome de las cosas... de cualquier cosa. Esa era mi vida y
        hasta hoy tal vez y aún practico alguna de ellas. De mi infancia nada
        interesante que decir, por lo menos hasta la secundaria, que fue donde
        conocí a las mujeres y los videojuegos. Y claro que ya desde pequeño ya
        sabía diferenciar a las mujeres de los hombres; solo que esta vez ya las
        miraba diferente (guiño). Comencé a investigar más afondó sobre ellas;
        cómo era tímido, casi no hablaba con más de un par; y ese par pues...
        si! Era mi madre y alguna que otra tía de confianza. Entonces mi
        investigación se basaba más en lecturas y videos, videos no precisamente
        de aquellos que a Dios le podrían gustar. * si has llegado a este
        punto... virtual, verás que me he distanciado mucho de lo que en verdad
        trataba esta historia, y tmb de que no tienes nada que hacer; pero
        tranquilo ya no seguiré con las mujeres, amenos que tú quieras seguir y
        tengas intriga de a donde más me llevo mi investigación. Si es así
        entonces te diré que todo se baso en porno, porno americano, europeo,
        africano y hasta el raro asiático. Por algún lado escuché o leí que el
        cerebro se siente cómodo en su estado “relajado”, y es el cual a la
        mayoría d personas nos gusta estar. (Joder ya han pasada unos buenos
        párrafos sin algo gracioso, y encima hablo de estados del cerebro...) El
        punto es que me introduje al mundo de los videojuegos, más
        específicamente al mundo del warcraft, me gustaba, paraba todo el rato
        allí e incluso hasta familia tuve, una hermosa elfa, 2 pequeños elfitos
        y un orco - lo sé, era media movida mi elfa. (No me juzguen) Pasaron los
        años y yo seguía jugando, pero ya a muchos juegos más; siempre me
        gustaron los videojuegos, pero nunca fui bueno en ellos. Termine la
        secundaria sin chica, vicioso y con muchos conocimientos en actrices
        porno. Comenzó mi etapa rebelde, me comenzó a gustar el rock, me fue
        mejor con las mujeres y conocí el alcohol; a si! entre a la universidad.
        Obviando toda esta etapa, que de hecho no hay nada interesante, o por lo
        menos nada que me haya aportado para bien. Si escribí esto, fue tal vez
        para hacerte de conocimiento, de que mi vida no fue nada especial, y que
        no solo la tuya era así de desastrosa. Empezamos a por lo que en
        realidad estamos aquí, y digo estamos, porque es un problema que nos
        arraiga a los dos, en que somos buenos? No lo sé tú, pero yo después de
        haber escrito este texto, creo haberme dado cuenta en que puede que sea
        bueno. Pues si! Creo que me gusta escribir.
      </div>
    </div>
  </div>
</main>
