<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 fst-italic">Textos con<br/> "poco sentido" de la realidad</h1>
      <p class="lead my-3">
        ¿Escribiste algo super ingenuo y quieres que alguien mas lo lea?<br/>
        ¿Quieres leer ingenuidades y no sentirte tan mal de lo que tu escribes?<br/> 
        Este es su lugar. 
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <!-- <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Poema</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">
            This is a wider card with supporting text below as a natural lead-in
            to additional content.
          </p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg
            class="bd-placeholder-img"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>
    </div> -->
    <div class="col-md-6">
      <div
        class="
          row
          g-0
          border
          rounded
          overflow-hidden
          flex-md-row
          mb-4
          shadow-sm
          h-md-250
          position-relative
        "
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Pensamiento</strong>
          <h3 class="mb-0">En que soy bueno?</h3>
          <div class="mb-1 text-muted">8/08/2021</div>
          <p class="mb-auto">
            En qué soy bueno? Te estás preguntando algo igual? Estás en la misma situación que yo? Tienes pelo por todo lado y aún nada te llena?
            <!-- Desde que era pequeño considero que no tenía ninguna virtud, tal vez una! Pero no creo que un poco de lastima de la gente sea una y mucho menos buena. (Y yo sé porque lo digo, algún defecto tal vez)
            Crecí haciéndole caso a los demás, tratando de caerle bien a todo el mundo, imitando y riéndome de las cosas... de cualquier cosa.
            Esa era mi vida y hasta hoy tal vez y aún practico alguna de ellas.
            De mi infancia nada interesante que decir, por lo menos hasta la secundaria, que fue donde conocí a las mujeres y los videojuegos.
            Y claro que ya desde pequeño ya sabía diferenciar a las mujeres de los hombres; solo que esta vez ya las miraba diferente (guiño).
            Comencé a investigar más afondó sobre ellas; cómo era tímido, casi no hablaba con más de un par; y ese par pues... si! Era mi madre y alguna que otra tía de confianza.
            Entonces mi investigación se basaba más en lecturas y videos, videos no precisamente de aquellos que a Dios le podrían gustar.
            * si has llegado a este punto... virtual, verás que me he distanciado mucho de lo que en verdad trataba esta historia, y tmb de que no tienes nada que hacer; pero tranquilo ya no seguiré con las mujeres, amenos que tú quieras seguir y tengas intriga de a donde más me llevo mi investigación. Si es así entonces te diré que todo se baso en porno, porno americano, europeo, africano y hasta el raro asiático.
            Por algún lado escuché o leí que el cerebro se siente cómodo en su estado “relajado”, y es el cual a la mayoría d personas nos gusta estar. 
            (Joder ya han pasada unos buenos párrafos sin algo gracioso, y encima hablo de estados del cerebro...)
            El punto es que me introduje al mundo de los videojuegos, más específicamente al mundo del warcraft, me gustaba, paraba todo el rato allí e incluso hasta familia tuve, una hermosa elfa, 2 pequeños elfitos y un orco - lo sé, era media movida mi elfa.
            (No me juzguen)
            Pasaron los años y yo seguía jugando, pero ya a muchos juegos más; siempre me gustaron los videojuegos, pero nunca fui bueno en ellos.
            Termine la secundaria sin chica, vicioso y con muchos conocimientos en actrices porno.
            Comenzó mi etapa rebelde, me comenzó a gustar el rock, me fue mejor con las mujeres y conocí el alcohol; a si! entre a la universidad.
            Obviando toda esta etapa, que de hecho no hay nada interesante, o por lo menos nada que me haya aportado para bien.
            Si escribí esto, fue tal vez para hacerte de conocimiento, de que mi vida no fue nada especial, y que no solo la tuya era así de desastrosa.
            Empezamos a por lo que en realidad estamos aquí, y digo estamos, porque es un problema que nos arraiga a los dos, en que somos buenos?
            No lo sé tú, pero yo después de haber escrito este texto, creo haberme dado cuenta en que puede que sea bueno.
            Pues si! Creo que me gusta escribir. -->
          </p>
          <a [routerLink]="'../text'">Continuar leyendo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg
            class="bd-placeholder-img"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">Textos pasados</h3>

      <article class="blog-post">
        <h3 class="blog-post-title">¿En que soy bueno?</h3>
        <p class="blog-post-meta">8 de Agosto del 2021 por <a [routerLink]="'../info'">ObiwanKnnabis</a></p>

        <p>
          En qué soy bueno? Te estás preguntando algo igual? Estás en la misma situación que yo? Tienes pelo por todo lado y aún nada te llena?
        </p>
        <a [routerLink]="'../text'">Continuar leyendo</a>
      </article>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">Acerca de mi</h4>
          <p class="mb-0">
            Mi nombre es Gustavo, comence a escribir casi por obligación, por una materia de la universidad, <br/>
            desde esa época han pasado ya unos años, compartí lo que escribía con algunas personas. <br/>
            Ahora estamos aquí
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
